#banner{
    height: 35vw;
	background-image:  url("../img/background_3.jpg"); 
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}
.caption{
	z-index: 2;
    text-align: center;
    top: 31%;
    position: relative;
    border: 1px solid rgba(230, 230, 230, 0.3);
    margin-left: 21vw;
    margin-right: 21vw;
    padding-top: 4vw;
    padding-bottom: 3vw;
}
.caption h1{
	color: white;
    font-size: 4.4vw;
    margin: 0;
    font-family: "OpenSans", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.8;
    letter-spacing: 0.8vw;
    text-align: center;
    padding-bottom: 2vw;
	text-shadow: 3px 1px 5px black;
}
.caption h1 img{
	padding: 1.2vw;
    width: 1.5%;
}
.caption h2{
	color: white;
    font-size: 1.3vw;
    margin: 0;
    font-family: "OpenSans", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 0.8;
    letter-spacing: 0.6vw;
    text-align: center;
	text-shadow: 3px 1px 5px black;
}
#info_about_barbershop{
	font-size: 0.9vw;
	font-family: "OpenSans", sans-serif;
	color: rgb(0, 0, 0);
	line-height: 1.745;
	text-align: center;
	margin: 5vw 26vw 5vw 26vw;
}
#country{
}
#table{
	width: 55%;
}
.countries{
	text-align: center;
}
.countries img{
	width: 75%;
	padding-bottom: 4vw;
}
.info table{
	width: 100%;
}
.info table h2{
	font-size: 1.1vw;
    font-family: "OpenSans", sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.9vw;
    text-align: left;
	margin: 0;
}
.info table p{
	font-size: 1.1vw;
    font-family: "OpenSans", sans-serif;
    color: rgb(0, 0, 0);
    line-height: 1.345;
    text-align: left;
    opacity: 0.7;
	margin: 0;
}
.button1, .button2, .button3{
	position: absolute;
	right: 14.5vw;
}
.button1{
	margin-top: -9vw;
}
.button2, .button3{
	margin-top: -5vw;
}
.button1 button, .button2 button, .button3 button{
	background-color: rgb(189, 148, 86);
    color: rgba(255,255,255,1);
    font-size: 1.2vw;
    letter-spacing: 0.2vw;
    font-stretch: condensed;
    border: none;
    padding: 0.7vw 1vw;
    cursor: pointer;
}
.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
	margin-top: 2vw;
	margin-bottom: 2vw;
}
.buttons button{
	background-color: white;
    color: black;
    letter-spacing: 0.2vw;
    font-stretch: condensed;
    border: 1px solid rgb(189, 148, 86);
    cursor: pointer;
    margin: 2vw;
    font-size: 1.2vw;
    padding: 0.7vw 1vw;
}
.country_name{
	position: absolute;
    width: 100%;
    margin-top: 13vw;
}
.country_name h1{
	font-size: 4vw;
    font-family: "OpenSans", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.8;
    text-align: center;
    letter-spacing: 0.8vw;
    text-shadow: 3px 1px 5px black;
}
button:focus{
	outline: none;
}
#map_latvia{
	display: none;
}
#map_estonia{
	display: none;
}
#map_russia{
	display: none;
}
iframe{
	width: 75%;
	height: 35.5vw;
	padding-bottom: 4vw;
}
#but1, #but2, #but3{
	display: none;
}
.button_appointment button{
	background-color: white;
    color: black;
	font-weight: bold;
    letter-spacing: 0.1vw;
    font-stretch: condensed;
    border: 1px solid rgb(189, 148, 86);
    cursor: pointer;
    margin: 2vw;
    font-size: 16px;
    padding: 0.7vw 1vw;
	margin-bottom: 0vw;
}
.button_appointment_hover button{
	background-color: rgb(189, 148, 86);
    color: white;
    font-weight: bold;
    letter-spacing: 0.1vw;
    font-stretch: condensed;
    border: 1px solid rgb(189, 148, 86);
    margin: 2vw;
    font-size: 16px;
    padding: 0.7vw 1vw;
    margin-bottom: 0vw;
    pointer-events: none;
}
.buttons_2 button{
	background-color: white;
    color: black;
    letter-spacing: 0.2vw;
    font-stretch: condensed;
    border: none;
    cursor: pointer;
    margin: 2vw;
    font-size: 1.2vw;
    padding: 0.7vw 1vw;
}
.buttons_2 button:hover{
	background-color: white;
    color: black;
    letter-spacing: 0.2vw;
    font-stretch: condensed;
    border-bottom: 1px solid rgb(189, 148, 86);
    cursor: pointer;
    margin: 2vw;
    font-size: 1.2vw;
    padding: 0.7vw 1vw;
}
#services_1, #services_2, #services_3{display:none}
#barbers_1, #barbers_2, #barbers_3{display:none}
#rewiews_1, #rewiews_2, #rewiews_3{display:none}
#table_about{
	text-align: -webkit-center;
	margin-bottom: 5vw;
}
#table_about p{
    color: black;
    font-size: 1.3vw;
    text-align: left;
    opacity: 0.5;
    margin: 0;
    font-weight: 200;
}
#table_about h1{
	color: black;
    letter-spacing: 0.1vw;
    font-stretch: condensed;
    font-size: 2vw;
    text-align: left;
	margin: 0;
	opacity: 0.8;
}
#table_about th{
	height: 7vw;
    border-top: 1px solid rgba(1,1,1,0.5);
}
#table_about td{
    border-top: 1px solid rgba(1,1,1,0.5);
}
.wrap_barbers {
    width: 100%;
    flex-wrap: wrap;
    margin: 0;
    display: flex;
    justify-content: center;
}
.photo {
    width: 28%;
    height: 31vw;
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-grid;
    transition: all ease 0.3s;
    text-align: center;
    margin: 1vw;
}
.text {
    margin-top: 22vw;
}
.text h1 {
    font-size: 1.7vw;
    font-family: "OpenSans", sans-serif;
    color: rgb(189, 148, 86);
    font-weight: bold;
    text-align: center;
    margin: 0;
}
.text p {
    font-size: 1vw;
    font-family: "OpenSans", sans-serif;
    color: rgb(5, 5, 5);
    line-height: 1.3vw;
    text-align: justify;
    margin: 0;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    opacity: 0.7;
}
.photo_1 {
    background-image: url(../img/haircuts/1.jpg);
}
.photo_2 {
    background-image: url(../img/haircuts/2.jpg);
}
.photo_3 {
    background-image: url(../img/haircuts/3.jpg);
}
.photo_4 {
    background-image: url(../img/haircuts/4.jpg);
}
.photo_5 {
    background-image: url(../img/haircuts/5.jpg);
}
.photo_6 {
    background-image: url(../img/haircuts/6.jpg);
}