#banner{
    height: 35vw;
	background-image:  url("../img/background_3.jpg"); 
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}
.caption{
	z-index: 2;
    text-align: center;
    top: 27%;
    position: relative;
    border: 1px solid rgba(230, 230, 230, 0.3);
    margin-left: 21vw;
    margin-right: 21vw;
    padding-top: 4vw;
    padding-bottom: 3vw;
}
.caption h1{
	color: white;
    font-size: 4.4vw;
    margin: 0;
    font-family: "OpenSans", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.8;
    letter-spacing: 0.8vw;
    text-align: center;
    padding-bottom: 2vw;
	text-shadow: 3px 1px 5px black;
}
.caption h1 img{
	padding: 1.2vw;
    width: 1.5%;
}
.caption h2{
	color: white;
    font-size: 1.3vw;
    margin: 0;
    font-family: "OpenSans", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 0.8;
    letter-spacing: 0.6vw;
    text-align: center;
	text-shadow: 3px 1px 5px black;
}
#info_about_barbershop{
	font-size: 0.9vw;
	font-family: "OpenSans", sans-serif;
	color: rgb(0, 0, 0);
	line-height: 1.745;
	text-align: center;
	margin: 5vw 26vw 5vw 26vw;
}
#country{
}
#table{
	width: 55%;
}
.countries{
	text-align: center;
}
.countries img{
	width: 75%;
	padding-bottom: 4vw;
}
.info table{
	width: 100%;
}
.info table h2{
	font-size: 1.1vw;
    font-family: "OpenSans", sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.9vw;
    text-align: left;
	margin: 0;
}
.info table p{
	font-size: 1.1vw;
    font-family: "OpenSans", sans-serif;
    color: rgb(0, 0, 0);
    line-height: 1.345;
    text-align: left;
    opacity: 0.7;
	margin: 0;
}
.button1, .button2, .button3{
	position: absolute;
	right: 14.5vw;
}
.button1{
	margin-top: -9vw;
}
.button2, .button3{
	margin-top: -5vw;
}
.button1 button, .button2 button, .button3 button{
	background-color: rgb(189, 148, 86);
    color: rgba(255,255,255,1);
    font-size: 1.2vw;
    letter-spacing: 0.2vw;
    font-stretch: condensed;
    border: none;
    padding: 0.7vw 1vw;
    cursor: pointer;
}
.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
	margin-top: 2vw;
	margin-bottom: 2vw;
}
.buttons button{
	background-color: white;
    color: black;
    letter-spacing: 0.2vw;
    font-stretch: condensed;
    border: 1px solid rgb(189, 148, 86);
    cursor: pointer;
    margin: 2vw;
    font-size: 1.2vw;
    padding: 0.7vw 1vw;
}
.country_name{
	position: absolute;
    width: 100%;
    margin-top: 13vw;
}
.country_name h1{
	font-size: 4vw;
    font-family: "OpenSans", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.8;
    text-align: center;
    letter-spacing: 0.8vw;
    text-shadow: 3px 1px 5px black;
}
button:focus{
	outline: none;
}