.tbForm_CallMe .tbForm_shadow {border-color: #1f0c06;}
.tbForm_fone img{
	position: relative;
    left: -1px;
    top: -1px;
}

.tbForm_CallMe {z-index: 99998; width:60px; height:60px;}
.tbForm_CallMe:hover {opacity: 1;}
.tbForm_CallMe .tbForm_fone {
	background-position: center center; background-size: 100% 100%;
	width:60px;	height:60px;border-radius: 50%;	position: absolute;
	display: table;color: transparent;	font-family:Arial;	font-size:14px;	text-align:center; font-stretch: ultra-condensed;
	}
.tbForm_CallMe .tbForm_fone span {display:table-cell;vertical-align:middle;}	

.tbForm_CallMe .tbForm_fone:hover {color:#fff;background-image: none;animation-name: none;cursor:pointer;opacity: 1;}

.tbForm_shadow {
	position: absolute;top: -1px;left: -1px;width:56px;height:56px;border-radius: 50%; border-style: solid; border-width:2px;
	

}
.tbForm_shadow:before {
    content: '';
    position: absolute !important;
    left: 50% !important;
    top: 50% !important;
    -webkit-transform: translate(-50%, -50%) !important;
    -moz-transform: translate(-50%, -50%) !important;
    -o-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
    border-radius: 50% !important;
    border-color: #000;
    color: #000;
    border: 1px solid !important;
    width: 105%;
    height: 105%;
    opacity: 0.9 !important;
    box-sizing: border-box !important;
    -webkit-animation: wave-stroke 2s infinite cubic-bezier(0.37, 0, 0.8, 0.77);
    -moz-animation: wave-stroke 2s infinite cubic-bezier(0.37, 0, 0.8, 0.77);
    -o-animation: wave-stroke 2s infinite cubic-bezier(0.37, 0, 0.8, 0.77);
    animation: wave-stroke 2s infinite cubic-bezier(0.37, 0, 0.8, 0.77);
}
@keyframes shadow {
	0%   {top: 0px;left: 0px;width:56px;height:56px; opacity: .5;}
      100%   {top: -22px;left: -22px;width:96px;height:96px; opacity: 0;}
	
}
@media screen and (max-width: 900px){
.tbForm_CallMe{display:none}
}