#map_latvia{
	max-height: 60vw;
}
#map_latvia_2{
	max-height: 60vw;
	display: none;
}
#map_estonia{
	max-height: 60vw;
	display: none;
}
#map_russia{
	max-height: 60vw;
	display: none;
}
iframe{
	width: 100%;
    height: 70%;
}
#info{
	height: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
	justify-content: center;
	margin-top: 1vw;
	margin-bottom: 3vw;
}
#info div{
	width: 23%;
	text-align: center;
}
#info table th{
	width: 30%;
}
#info table h2{
	font-size: 1.2vw;
    font-family: "OpenSans", sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.9vw;
    text-align: left;
    margin: 0;
}
#info table p{
	font-size: 1.2vw;
    font-family: "OpenSans", sans-serif;
    color: rgb(0, 0, 0);
    line-height: 1.345;
    text-align: left;
    opacity: 0.7;
    margin: 0;
}
.first{
	font-weight: bold;
    background-color: white;
    color: black;
    letter-spacing: 0.2vw;
    font-stretch: condensed;
    border: 1px solid rgb(189, 148, 86);
    cursor: pointer;
    margin: 2vw;
    font-size: 1.1vw;
    padding: 0.5vw 1vw;
}
.second{
	font-weight:bold;
	background-color: white;
    color: black;
    letter-spacing: 0.2vw;
    font-stretch: condensed;
    border: 1px solid rgb(189, 148, 86);
    cursor: pointer;
    margin: 1vw;
    font-size: 0.8vw;
    padding: 0.4vw 0.7vw;
}
.second:hover{
	background-color: rgb(189, 148, 86);
	color: white;
}
.round_buttons{display:none;}
@media screen and (max-width: 900px){
iframe{
	box-shadow: 0px 3px 56px 14px rgba(1, 1, 1, 0.2);
	width: 100%;
    height: 100%;
}
#map_latvia{
	max-height: 90vw;
}
#map_latvia_2{
	max-height: 90vw;
	display: none;
}
#map_estonia{
	max-height: 90vw;
	display: none;
}
#map_russia{
	max-height: 90vw;
	display: none;
}
#info div {
    width: 100%;
}
#info {
    flex-direction: column;
}
#second_flex, #third_flex, #four_flex{display:none;}
#trigger1, #trigger2, #trigger3, #trigger4{display:none;}
.first{
	background-color: rgb(189, 148, 86);
    color: white;
    letter-spacing: 0.5vw;
    font-stretch: condensed;
    border: 1px solid rgb(189, 148, 86);
    cursor: pointer;
    margin: 6vw;
    font-size: 4vw;
    font-weight: 500;
    padding: 2vw 5vw;
}
#info table h2 {
    font-size: 3vw;
    font-family: "OpenSans", sans-serif;
    color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
    line-height: 5vw;
    text-align: left;
    margin: 0;
}
#info table p {
    font-size: 3vw;
    font-family: "OpenSans", sans-serif;
    color: rgb(0, 0, 0);
    line-height: 4vw;
    text-align: left;
    opacity: 0.7;
    margin: 0;
}
.round_buttons {
    display: block;
    text-align: center;
    padding-top:5vw;
    padding-bottom: 10vw;
}
.round_buttons button {
    background-color: rgb(189, 148, 86);
    padding: 1vw;
    border-radius: 3vw;
    border: none;
    cursor: pointer;
    margin-right: 1vw;
}


}