/*POPUP*/
#body1 {
    width: 100%;
    height: 100%;
    position: fixed;
	z-index: 100;
	background-color: rgba(0,0,0,0.5);
}
.poup{
    position: fixed;
    width: 35vw;
    height: 12vw;
    top: 23vw;
    z-index: 1000;
    margin: auto;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/frame-white.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.poup h1{
	margin: 0 !important;
	text-align: center !important;
    font-size: 2vw !important;
	text-shadow: 3px 1px 5px black !important;
	font-family: 'Lobster', cursive !important;
	letter-spacing: 0 !important;
	color: #bd9456 !important;
	margin-bottom: 2vw !important;
	cursor: pointer;
}
.poup input{
	background-color: #bd9456;
    color: #1f0c06;
    font-size: 1vw;
    border: 2px solid #bd9456;
    padding: 0.3vw 2vw;
    border-radius: 0.3vw;
    text-transform: uppercase;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
	font-weight: 800;
}
.poup select{
	border: 1px solid #bd9456;
    padding: 0.3vw 1vw;
    border-radius: 0.3vw;
    margin-right: 1.5vw;
    font-family: "Roboto", sans-serif;
    background-color: #bd9456;
    color: #1f0c06;
    text-transform: uppercase;
	font-weight: 800;
}
/**/

#footer{
	background-color: #1f0c06;
	height: 12vw;
	text-align:center;
	position: relative;
}
.footer{
	position: relative;
	top: 1.5vw;
}
#footer p{
	color: #c59a5a;
	font-size: 0.7vw;
}
.links{
	padding-top: 0.7vw;
}
.links li{
	display: inline;
	list-style: none;
	margin: 0.5vw;
}
.links img{
	width: 2%;
	margin: 0;
}

@media screen and (max-width: 900px){
#footer {
    height: 140vw;
}
#logo_footer img{
	width: 50%;
	padding-top: 5vw;
	padding-bottom: 5vw;
}
.links{
	padding-top: 5vw;
    padding-bottom: 15vw;
}
.links ul{
	display: flex;
    flex-direction: column;
}
.links img{
	width: 10%;
	padding: 5vw;
}
#footer p {
    color: #c59a5a;
    font-size: 15px;
    letter-spacing: 2px;
}
}