/*FORM*/
.thanks{
	display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.remodal-overlay p, .remodal-overlay_1 p, .remodal-overlay_2 p, .remodal-overlay_3 p, .remodal-overlay_4 p{
    margin: 20px 0 20px 0;
    font-family: SummerFont-Light, sans-serif;
    z-index: 2;
    letter-spacing: 0.2px;
    font-size: 20px;
    color: #020303;
    letter-spacing: 0.1vw;
    font-stretch: condensed;
    text-align: center;
}
.remodal {
    font-size: 16px;
    color: #182a3c;
}
.bookinput label {
    float: left;
    width: 40%;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    font-family: 'LumberjackInlineRough';
    color: #4f6675;
    letter-spacing: 1px;
    text-align: right;
    padding: 10px;
    padding-left: 0px;
    border-right: 1px solid #cfd5d7;
}
.bookinput input {
    width: 50%;
    float: left;
    background: none;
    border: none;
    outline: none;
    font-family: 'LumberjackInlineRough';
    padding: 10px;
    font-size: 18px;
    color: #4f6775;
}
.styled-select select {
    background: transparent;
    width: 100%;
    padding: 14px;
    font-size: 16px;
    line-height: 1;
    font-family: 'LumberjackInlineRough';
    text-transform: uppercase;
    font-weight: 700;
    border: 0;
    color: #FFF;
    border-radius: 0;
    -webkit-appearance: none;
    letter-spacing: 1px;
	border: 2px solid black;
}
.bookinputdate label {
    float: left;
    width: 40%;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    font-family: 'LumberjackInlineRough';
    color: #4f6675;
    text-align: right;
    padding: 10px;
    letter-spacing: 1px;
    border-right: 1px solid #cfd5d7;
}
.bookinputdate input {
    width: 48%;
    float: left;
    background: none;
    border: none;
    outline: none;
    font-family: 'LumberjackInlineRough';
    padding: 10px;
    font-size: 18px;
    color: #4f6775;
}
.booktextarea label {
    float: left;
    width: 40%;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    font-family: "brandon-grotesque";
    color: #4f6675;
    text-align: right;
    padding: 10px;
    height: 100%;
    border-right: 1px solid #cfd5d7;
}
.booktextarea textarea {
    width: 50%;
    float: left;
    background: none;
    border: none;
    outline: none;
    font-family: 'LumberjackInlineRough';
    padding: 10px;
    font-size: 18px;
}
select {
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    color: black;
    background-color: white;
    cursor: default;
    border-width: 1px;
    border-style: solid;
    border-color: initial;
    border-image: initial;
}
.styled-select {
    width: 75%;
    font-family: "brandon-grotesque";
    text-transform: uppercase;
    font-weight: 700;
    overflow: hidden;
    background: url(../img/svg/dropdown.svg) 97% center no-repeat #bd9456;
    background-size: 20px;
    border: none;
    outline: none;
    margin: 16px auto;
}
::selection {
    background: #F7F9FA;
    color: #333;
}
option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
.styled-select option {
    background: #7a848e;
    width: 100%;
    padding: 14px;
    font-size: 16px;
    line-height: 1;
    font-family: "brandon-grotesque";
    text-transform: uppercase;
    font-weight: 700;
    border: 0;
    color: #FFF;
    letter-spacing: 1px;
}
.blackbutton {
    display: block;
    margin: 0 auto;
    border: 1px solid #bd9456;
    background-color: #bd9456;
    padding: 10px;
    font-family: 'LumberjackInlineRough';
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 35px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    transition: all 0.5s ease;
	border: 2px solid black;
}
.booktextarea {
    width: 75%;
    margin: 0 auto;
    padding: 10px 0 10px 0;
    display: block;
    height: 100px;
    background: none;
    border-bottom: 2px solid #cfd5d7;
}
.bookinputdate {
    width: 75%;
    margin: 0 auto;
    padding: 10px 0 10px 0;
    display: block;
    height: 50px;
    background: none;
    border-bottom: 2px solid #cfd5d7;
}
.bookinput {
    width: 75%;
    margin: 0 auto;
    padding: 10px 0 10px 0;
    display: block;
    height: 50px;
    background: none;
    border-bottom: 2px solid #cfd5d7;
}
.remodal {
    width: 100%;
    min-height: 100%;
    padding: 35px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #FFF url(../img/bookbg.jpg);
    font-size: 16px;
    background-clip: padding-box;
    color: #182a3c;
    border: 2px solid #707B5D;
    outline: 6px solid #FFF;
    -webkit-box-shadow: 0px 0px 8px #171a24;
    box-shadow: 0px 0px 8px #171a24;
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-transition: -webkit-transform 0.2s linear;
    -moz-transition: -moz-transform 0.2s linear;
    -o-transition: -o-transform 0.2s linear;
    transition: transform 0.2s linear;
}
#bookin-workshop {
    width: 220px;
}
.remodal-overlay, .remodal-overlay_1, .remodal-overlay_2, .remodal-overlay_3, .remodal-overlay_4 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100000000;
    display: none;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    text-align: center;
}
@media only screen and (min-width: 40.063em){
.remodal {
    max-width: 700px;
    margin: 20px auto;
    min-height: 0;
}
}
.remodal-close, .remodal-close_1, .remodal-close_2, .remodal-close_3, .remodal-close_4 {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 28px;
    height: 28px;
    text-decoration: none;
}
.remodal-close::after {
    display: block;
    font-size: 28px;
    content: "×";
    line-height: 28px;
    cursor: pointer;
    color: rgb(112, 123, 93);
    text-decoration: none;
    transition: all 0.2s linear;
}
.remodal-close_1::after {
    display: block;
    font-size: 28px;
    content: "×";
    line-height: 28px;
    cursor: pointer;
    color: rgb(112, 123, 93);
    text-decoration: none;
    transition: all 0.2s linear;
}
.remodal-close_2::after {
    display: block;
    font-size: 28px;
    content: "×";
    line-height: 28px;
    cursor: pointer;
    color: rgb(112, 123, 93);
    text-decoration: none;
    transition: all 0.2s linear;
}
.remodal-close_3::after {
    display: block;
    font-size: 28px;
    content: "×";
    line-height: 28px;
    cursor: pointer;
    color: rgb(112, 123, 93);
    text-decoration: none;
    transition: all 0.2s linear;
}
.remodal-close_4::after {
    display: block;
    font-size: 28px;
    content: "×";
    line-height: 28px;
    cursor: pointer;
    color: rgb(112, 123, 93);
    text-decoration: none;
    transition: all 0.2s linear;
}
.bookinputdate label {
    float: left;
    width: 40%;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    font-family: 'LumberjackInlineRough';
    color: #4f6675;
    text-align: right;
    padding: 10px;
    letter-spacing: 1px;
    border-right: 1px solid #cfd5d7;
}
.wpcf7-date {
    width: 50%;
    float: left;
    background: none;
    border: none;
    outline: none;
    font-family: 'LumberjackInlineRough';
    padding: 10px;
    font-size: 18px;
}
.booktextarea textarea {
    width: 50%;
	height: 70px;
	resize: none;
    float: left;
    background: none;
    border: none;
    outline: none;
    font-family: 'LumberjackInlineRough';
    padding: 10px;
    font-size: 18px;
}
.red{
	color: red !important;
	font-size: 20px !important;
	font-family: Lato, Helvetica, sans-serif !important;
	margin: 0 !important;
}
@media screen and (max-width: 900px){
.bookinput label {
    float: none;
    width: 40%;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    font-family: 'LumberjackInlineRough';
    color: #4f6675;
    letter-spacing: 1px;
    text-align: right;
    padding: 10px;
    padding-left: 0px;
    border-right: none;
}
.bookinput input {
    width: 50%;
    float: none;
    background: none;
    border: none;
    outline: none;
    font-family: 'LumberjackInlineRough';
    padding: 10px;
    font-size: 18px;
    color: #4f6775;
}
.bookinputdate label {
    float: none;
    width: 40%;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    font-family: 'LumberjackInlineRough';
    color: #4f6675;
    text-align: right;
    padding: 10px;
    letter-spacing: 1px;
    border-right: none;
}
.bookinputdate input {
    width: 48%;
    float: none;
    background: none;
    border: none;
    outline: none;
    font-family: 'LumberjackInlineRough';
    padding: 10px;
    font-size: 18px;
    color: #4f6775;
}
.booktextarea label {
    float: none;
    width: 40%;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    font-family: "brandon-grotesque";
    color: #4f6675;
    text-align: right;
    padding: 10px;
    height: 100%;
    border-right: none;
}
.booktextarea textarea {
    width: 50%;
    float: right;
    background: none;
    border: none;
    outline: none;
    font-family: 'LumberjackInlineRough';
    padding: 10px;
    font-size: 18px;
}
.blackbutton {
    display: block;
    margin: 0 auto;
    padding: 10px;
    font-size: 18px;
    margin-top: 50px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    transition: all 0.5s ease;
    width: auto;
}
.bookinput {
    width: 100%;
}
.bookinputdate {
    width: 100%;
}
.booktextarea {
    width: 100%;
}
.bookinput input {
	font-size: 17px;
}
.bookinputdate input {
	font-size: 17px;
}
.booktextarea textarea {
	font-size: 17px;
	padding: 0;
}

}