button{
    position: absolute;
    bottom: 1vw;
    width: 21vw;
    height: 5vw;
    background-image: url(../img/button_frame.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    font-family: 'Lobster', cursive;
    color: rgb(218, 165, 75);
    font-size: 2.5vw;
}
#b2{
	bottom: 1.3vw;
}
#b3{
    bottom: 1.8vw;
    width: 18vw;
    height: 4vw;
    font-size: 2vw;
}
#b4, #b5, #b7{
    bottom: 1.4vw;
    width: 16vw;
    height: 4vw;
    font-size: 1.8vw;
}
.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	justify-content: center;
	justify-content: space-evenly;
}
#content{
    background-image: url(../img/haircut-1002.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
	height: 176vw;
	background-color: #1f0c06;
}
.wrap{
	padding-top: 6vw;
    padding-bottom: 6vw;
	align-items: baseline;
}
.wrap1{
	padding-top: 8vw;
    padding-bottom: 3vw;
    align-items: flex-start;
}
.wrap2{
	margin-top: -9vw;
    padding-bottom: 3vw;
    align-items: baseline;
}
.wrap3{
    padding-top: 8vw;
    padding-bottom: 6vw;
    padding-left: 40vw;
    position: relative;
}

.p1, .p2, .p3, .p4, .p5, .p6, .p7{
    background-size: contain;
    background-repeat: no-repeat;
	position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
}
.p1{
    background-image: url(../img/haircuts_bildes/1.png);
    height: 35vw;
    width: 40vw;
	position: relative;
    top: 5vw;
}
.p2{
	background-image: url(../img/haircuts_bildes/2.png);
    height: 40vw;
    width: 35vw;
}
.p3{
    background-image: url(../img/haircuts_bildes/3.png);
	height: 35vw;
    width: 30vw;
}
.p4{
    background-image: url(../img/haircuts_bildes/4.png);
    height: 27vw;
    width: 30vw;
	position: relative;
    bottom: 5vw;
}
.p5{
    background-image: url(../img/haircuts_bildes/5.png);
    height: 27vw;
    width: 30vw;
	position: relative;
    top: 5vw;
}
.p6{
    background-image: url(../img/haircuts_bildes/6.png);
    height: 35vw;
    width: 40vw;
}
.p7{
    background-image: url(../img/haircuts_bildes/7.png);
    height: 27vw;
    width: 30vw;
}

@media screen and (max-width: 900px){
#content{
    background-image: url(../img/background_haircuts_mobile.jpg);
	height: auto;
	padding-top: 10vw;
	padding-bottom: 10vw;
	height: 620vw;
}
.flex, .wrap, .wrap1, .wrap2, .wrap3{
	flex-direction: column;
	align-items: center;
	margin: 0;
	padding: 0;
}
.p1, .p2, .p3, .p4, .p5, .p6, .p7{
    justify-content: center;
    width: 80%;
    height: 90vw;
	margin: 0;
	padding: 0;
	top: unset;
	bottom: unset;
	margin-bottom: 5vw;
    margin-top: 5vw;
}
.p1, .p4, .p5, .p6, .p7{
	height: 70vw;
}
button{
    bottom: 4vw !important;
    width: 45vw !important;
    height: 10vw !important;
    font-size: 5.5vw !important;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
}
}