/*POPUP*/
.poup{
	background-color: rgba(0, 0, 0, 0.7);
	width: 100%;
    height: 100%;
    position: fixed;
	top: 0;
	z-index: 99999;
}
.poup1{
    position: fixed;
    width: 35vw;
    height: 12vw;
    top: 35%;
    z-index: 1000;
    margin: auto;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/frame-white.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.poup1 h1{
	margin: 0 !important;
	text-align: center !important;
    font-size: 2vw !important;
	text-shadow: 3px 1px 5px black !important;
	font-family: 'Lobster', cursive !important;
	letter-spacing: 0 !important;
	color: #bd9456 !important;
	margin-bottom: 2vw !important;

}
.poup1 input{
	background-color: #bd9456;
    color: #1f0c06;
    font-size: 1vw;
    border: 2px solid #bd9456;
    border-radius: 0.3vw;
    text-transform: uppercase;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
	font-weight: 800;
	height: 2vw;
	width: 10vw;
}
.poup1 select{
	border: 1px solid #bd9456;
    border-radius: 0.3vw;
    margin-right: 1vw;
	font-size: 1vw;
    font-family: "Roboto", sans-serif;
    background-color: #bd9456;
    color: #1f0c06;
    text-transform: uppercase;
	font-weight: 800;
	cursor: pointer;
	height: 2vw;
	width: 10vw;
	padding-left: 2vw;
}
/**/
#big-book-button{
	position: fixed;
    width: 10vw;
    height: 10vw;
    z-index: 1000;
    cursor: pointer;
    bottom: 3vw;
    right: 2vw;
	
	background-color: unset !important;
    color: unset !important;
    font-size: unset !important;
    letter-spacing: unset !important;
    font-stretch: unset !important;
    border: unset !important;
    width: unset !important;
    padding: unset !important;
    border-radius: unset !important;
    text-transform: unset !important;
    cursor: pointer;
}
#big-book-button img{
	width: 11vw;
}
/*KNOPKA*/

/**/

#body {
	width: 100%;
    height: 100%;
    position: fixed;
	z-index: -1;
}

ul, li{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color:inherit;
	font-weight: 500;
	margin: 0;
}
#information{
	height: auto;
}
#information ul, li{
	padding: 0.3vw 0 0.3vw 0;
}
#navigation ul, li{
	padding: 0.5vw 0 0.5vw 0;
}
.information{
	position: relative;
	text-align: right;
    color: #1f0c06;
    font-size: 0.9vw;
    padding-right: 10vw;
	text-transform: uppercase;
}
.information li{
	display: inline;
	list-style: none;
	margin-right: 4px;
}
.information a{
	cursor: pointer;
}
.border{
	border-right-color: #e0bf95;
    border-right-style: solid;
    border-right-width: 2px;
	padding: 0;
}
#logo{
	background-color: #1f0c06;
	height: 8vw;
	text-align: center;
	display: -webkit-flex;
    display: flex;
	align-items: center;
}
#logo a{
	width: 100%;
}
#logo img{
	width: 12%;
	position: relative;
}
#navigation{
	height: auto;
}
.navigation{
	position: relative;
	text-align: center;
    color: #1f0c06;
    font-size: 1vw;
	text-transform: uppercase;
}
.navigation li{
	display: inline;
	list-style: none;
    padding-right: 0.5vw;
    padding-left: 0.5vw;
}
.radio{
    width: 2%;
    position: absolute;
    top: 0.1vw;
    left: 3vw;
}
.link:hover{
	background-color: rgb(189, 148, 86);
	color: white;
}


@media screen and (min-width: 1500px){
.navigation {
    font-size: 0.75vw;
}
.radio {
    width: 1.7vw;
}
}

.menu,
.close,
.box_li,
#box
{
	display: none;
}
@media screen and (max-width: 1200px){
	
}
@media screen and (max-width: 900px){
/*POPUP*/
.poup1 {
    width: 80%;
    height: 31vw;
}
.poup1 h1 {
    font-size: 6vw !important;
}
.poup1 select {
    font-size: 4vw;
    height: 7vw;
    width: 25vw;
}
.poup1 input {
    font-size: 4vw;
    height: 7vw;
    width: 25vw;
}
	
#information,
#navigation
{
	display: none;
}
#logo {
    height: 120px;
}
#logo img {
    width: 155px;
}
.menu {
    display: block;
    position: fixed;
    top: 35px;
    right: 15px;
    z-index: 1;
}
.menu img{
	width: 45px;
}
.close {
	display: block;
    position: absolute;
    width: 60px;
    z-index: 2;
    top: -90px;
    right: 0px;
    background-color: rgba(31, 12, 6, 0.9);
}
.close img{
	width: 45px;
}
#box{
	position: fixed;
    width: 100%;
    height: 140vw;
    background-color: rgba(31, 12, 6, 0.9);
    right: 0;
    padding: 30px;
    box-sizing: border-box;
    z-index: 100;
    top: 0;
    margin-top: 120px;
}
.box_li ul, li{list-style: none;}
.box_li{
	display: block;
    font-size: 5vw;
    font-family: "Roboto", sans-serif;
    color: rgba(203, 148, 78, 0.6);
    line-height: 9vw;
    text-align: center;
    padding-top: 0;
}
.box_li a{
	font-weight: bold;
	text-transform: uppercase;
}
.box_li a:hover{
	color: rgba(203, 148, 78, 1);
}
.information {
	padding-top: 5vw;
    text-align: center;
    font-size: 4vw;
    padding-right: 0;
    text-transform: uppercase;
    color: rgba(203, 148, 78, 1);
    letter-spacing: 0.5vw;
    font-stretch: condensed;
}

}