body{
	margin: 0;
    overflow-x: hidden;
	font-family: "Open Sans", sans-serif;
}
h1{
	color: white;
	font-weight: 500;
	font-size: 3.5vw;
	letter-spacing: 0.4vw;
	font-stretch: condensed;
	margin: 0;
}
h2{
	color: white;
	font-weight: 500;
	font-size: 1.3vw;
	letter-spacing: 0.2vw;
	font-stretch: condensed;
	margin: 0;
	margin-top: 0.5vw;
}
h3{
	text-transform: uppercase;
	font-weight: 500;
	font-size: 2vw;
	letter-spacing: 0.4vw;
	margin: 0;
	margin-bottom: 1vw;
}
h4{
	padding-top: 12vw;
    text-align: center;
    font-weight: 600;
    font-size: 0.8vw;
    margin: 0;
    color: #303030;
    height: 1.5vw;
}
h5{
	text-transform: uppercase;
    font-weight: 500;
    font-size: 1.7vw;
    letter-spacing: 0.4vw;
    margin: 0;
    color: white;
    font-stretch: condensed;
    margin-bottom: 3vw;
    margin-top: -3vw;
}
h6{
	text-transform: uppercase;
    font-weight: 600;
    color: #bd9456;
    font-size: 1.4vw;
    letter-spacing: 0.1vw;
    line-height: 0vw;
    font-stretch: condensed;
    margin: 0;
    margin-top: 1vw;
	margin-bottom: 1vw;
}
.product p{
	color: #303030;
	font-size: 1vw;
	font-weight: 500;
}
ul, li{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color:inherit;
	font-weight: 500;
	margin: 0;
}
#banner{
    height: 35vw;
}
.caption{
	z-index:2;
	text-align: center;
	top: 25%;
    position: relative;
}
#banner .button_more {
    position: absolute;
    display: flex;
    display: -webkit-flex;
    bottom: 40px;
    left: 0;
    width: 100%;
    z-index: 2;

}
.button_more button{
	background-color:rgba(120,50,0,0.7);
    color: rgba(255,255,255,1);
    font-size: 1em;
    letter-spacing: 1px;
    font-stretch: condensed;
    border: none;
    height: auto;
    width: auto;
    padding: 0.4vw 1.5vw;
    border-radius: 0.3vw;
    opacity: 0.9;
    margin: auto;
   
	cursor: pointer;
}
button:focus{
	outline: none;
}

#slider-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

#banner .slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0;
  z-index: 1;
}
#banner .slide:nth-child(1) {
  background-image: url(../img/background_2.jpg);
  opacity: 1;
}
#banner .slide:nth-child(2) {
  background-image: url(../img/background_3.jpg);
}
#banner .slide:nth-child(3) {
  background-image: url(../img/background_5.jpg);
}
#banner .slide:nth-child(4) {
  background-image: url(../img/background_6.jpg);
}
#banner .text {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  z-index: 3;
  position: relative;
  color: #ffffff;
  top: 20%;
  left: 5%;
  min-height: 55%;
  text-align: center;
 /* font-size: 2vw; */
  font-size: 1.5vw;
 /* width: 55%; */
	width: 42%;
 /* background-color: rgba(70,30,0,0.4); */
  box-sizing: border-box;
  padding: 1.8vw;
 /* font-family: 'Arvo', serif; */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(../img/frame.png);
	text-shadow: 3px 1px 5px black;
}
#banner .text .line1 {
  width: calc(100% - 1vw);
  height: calc(100% - 1vw);
  top: 0.5vw;
  left: 0.5vw;
  position: absolute;
 /* border: solid 2px rgba(150,75,0,1); */
  box-sizing: border-box;
 /* box-shadow: 0 0 0.5vw rgba(50,25,0,1); */

}
#banner .text .line2 {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
 /* border: dotted 2px rgba(100,50,0,1); */
  box-sizing: border-box;
 

}
#banner .text p {
  /*text-shadow:0 0 5px rgba(0,0,0,0.5);*/
  margin: 0;
  width: 100%;
font-family: 'Lobster', cursive;
}
#banner .text p b {
  position: relative;
  opacity: 0;
  top: 1vw;
  font-weight: 400;
}
#banner .nav {
  position: absolute;
  display: flex;
  display: -webkit-flex;
  left: 0;
  bottom: 0;
  width: 100%;
  justify-content: center;
  -webkit-justify-content: center;
  z-index: 5;

}
#banner .nav div {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgba(190,100,0,0.7);
  margin: 7px;
}
#banner .nav .active {
  opacity: 0.5;
}
.wrap {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding-top: 0.2vw;
    justify-content: center;
}
.photo {
   width: 50%;
    padding-top: 30%;
    background-size: 100%;
    background-repeat: no-repeat;
    transition: all ease 0.3s;
    text-align: center;
    position: relative;
}
.photo1{
	width: 96.3%;
    padding-top: 31%;
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-grid;
    transition: all ease 0.3s;
    text-align: center;
}
.photo_1{
	background-image:url(../img/photo_1.jpg);
}
.photo_2{
	background-image:url(../img/photo_2.jpg);
}
.photo_3{
	background-image:url(../img/1.jpg);
}
.photo_4{
	background-image:url(../img/2.jpg);
}
.photo_2:hover {
	background-color: #ffffff;
	opacity:0.5;
}
.read_more_1{
	background-color: transparent;
    color: #bd9456;
    font-size: 1vw;
    letter-spacing: 0.3vw;
    line-height: 0.3vw;
    font-stretch: condensed;
    border: 2px solid #bd9456;
    padding: 1vw 1vw;
    border-radius: 0.3vw;
    text-transform: uppercase;
    bottom: 1.5vw;
    left: 11vw;
    cursor: pointer;
}
.text_on_photo{
	position:absolute;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	top: 2vw;
}
.text_on_photo p{
	font-size: 0.8vw;
	color: #9a681b;
	letter-spacing: 0.05vw;
	font-stretch: condensed;
	text-align: center;
	padding-left: 2vw;
    padding-right: 2vw;
}
.read_more{
	background-color: transparent;
    color: rgba(255,255,255,1);
    font-size: 1.3vw;
    letter-spacing: 0.1vw;
    font-stretch: condensed;
    border: 2px solid white;
    width: 40%;
    padding: 0.5vw 1vw;
    border-radius: 0.3vw;
    text-transform: uppercase;
	cursor: pointer;
}
.caption_ieksa{
	border: 6px double rgba(230, 230, 230, 0.5);
    background-color: rgba(255,255,255,0.05);
    padding: 2vw;
    width: 56%;
    margin-left: 22%;
    margin-right: 22%;
}
.position_on_photo {
    text-align: center;
    position: relative;
    bottom: 14vw;
}
#products{
	text-align: center;
	z-index: 1;
	margin-top: 3vw;
    margin-bottom: 2vw;
}
.wrap_product{
	width: 70%;
	height:auto;
    margin: auto;
    justify-content: space-around;
    flex-direction: row;
    display: flex;
    text-align: -webkit-center;
}
.product {
	width: 18%;
    background-size: 100%;
    background-repeat: no-repeat;
}
.product_1{
	background-image:url(../img/products/1_product.jpg);
}
.product_2{
	background-image:url(../img/products/2_product.jpg);
}
.product_3{
	background-image:url(../img/products/3_product.jpg);
}
.product_4{
	background-image:url(../img/products/4_product.jpg);
}
.product_5{
	background-image:url(../img/products/5_product.jpg);
}
/*from internet*/
/*#slider-wrapper {
  width: auto;
  height: 35vw;
  margin: 0;
  position: relative;
  margin-bottom: 0px;
  overflow: hidden;
}
#s1 {
  padding: 6px;
  background: #bd9456;
  position: absolute;
  left: 51%;
  bottom: 25px;
  margin-left: -36px;
  border-radius: 20px;
  opacity: 0.3;
  cursor: pointer;
  z-index: 999;
}
#s2 {
  padding: 6px;
  background: #bd9456;
  position: absolute;
  left: 51%;
  bottom: 25px;
  margin-left: -12px;
  border-radius: 20px;
  opacity: 0.3;
  cursor: pointer;
  z-index: 999;
}
#s3 {
  padding: 6px;
  background: #bd9456;
  position: absolute;
  left: 50%;
  bottom: 25px;
  margin-left: 12px;
  border-radius: 20px;
  opacity: 0.3;
  cursor: pointer;
  z-index: 999;
}
#s1:hover,
#s2:hover,
#s3:hover{
  opacity: .50;
}
.inner-wrapper {
  width: 100%;
  height: 35vw;
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: 0px;
  overflow: hidden;
}
.control {
  display: none;
}
#Slide1:checked ~ .overflow-wrapper {
  margin-left: 0%;
}
#Slide2:checked ~ .overflow-wrapper {
  margin-left: -100%;
}
#Slide3:checked ~ .overflow-wrapper {
  margin-left: -200%;
}
#Slide1:checked + #s1 {
  opacity: 1;
}
#Slide2:checked + #s2 {
  opacity: 1;
}
#Slide3:checked + #s3 {
  opacity: 1;
}
.overflow-wrapper {
  width: 400%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: hidden;
  z-index: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.slide img {
  width: 25%;
  float: left;
}*/
/*gallery*/
#container{
position: relative;
height: 150px;
width: 100%;
overflow: hidden;
-moz-transform: scale(2);
zoom: 2;
}
#container img{
position: absolute;
top: 0px;
height: 150px;
width: 230px;
cursor: pointer;
overflow: hidden;
}
.buttons-left-right{}
#carouselLeft{
position: relative;
left: 0px;
cursor: pointer;
}
#carouselRight{
position: absolute;
right:0;
cursor: pointer;
}

@media screen and (max-width: 1800px){
#container {
    zoom: 1.5;
    -moz-transform: scale(1.5);
}
}
@media screen and (max-width: 150px){
#container {
    zoom: 1.2;
    -moz-transform: scale(1.5);
}
}
@media screen and (max-width: 1200px){
#container {
    zoom: 1;
    -moz-transform: scale(1);
}
}

#banner_mobile, .swiping_buttons{display:none;}
@media screen and (max-width: 900px){
#banner, #gallery{display:none;}
#banner_mobile {
	display: block;
    height: 150vw;
    background-image: url(../img/background_1_mobile.png);
    background-position: 70%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
h1 {
    font-size: 9vw;
    letter-spacing: 1vw;
}
h2 {
    font-size: 3vw;
    letter-spacing: 0.7vw;
}
.caption{
	top: 110vw;
}
.round_buttons {
    display: none;
    text-align: center;
    padding-top: 112vw;
    padding-bottom: 10vw;
}
.round_buttons button {
    background-color: rgb(189, 148, 86);
    padding: 1vw;
    border-radius: 3vw;
    border: none;
    cursor: pointer;
    margin-right: 1vw;
}
.wrap {
    width: 100%;
    padding-top: 0;
}
.photo {
    position: relative;
    width: 100%;
    padding-top: 0;
    background-size: 250%;
    background-position-x: 50%;
    height: 150vw;
}
.text_on_photo img{display:none;}
.text_on_photo {
    bottom: -90vw;
    left: 0;
    right: 0;
    text-align: center;
}
h6 {
    text-transform: uppercase;
    font-weight: 500;
    color: #bd9456;
    font-size: 6vw;
    letter-spacing: 0.5vw;
    line-height: 6vw;
    font-stretch: condensed;
    margin: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 20vw;
	padding-top: 20vw;
}
.text_on_photo p {
    font-size: 3.5vw;
    color: #bd9456;
    letter-spacing: 0.2vw;
    font-stretch: condensed;
    text-align: justify;
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
}
.read_more_1 {
    position: relative;
    bottom: 0;
    left: 0;
    background-color: transparent;
    color: #bd9456;
    font-size: 4vw;
    letter-spacing: 0.3vw;
    line-height: unset;
    font-stretch: condensed;
    border: 2px solid #bd9456;
    height: auto;
    width: auto;
    padding: 2vw 9vw;
    border-radius: 0.3vw;
    text-transform: uppercase;
}
.photo_4 {
    background-image: url(../img/2_mobile.png);
}
.photo1 {
    width: 100%;
    padding-top: 0;
    margin-top: -1vw;
    height: 150vw;
}
.wrap_product {
    width: 50%;
    flex-direction: column;
}
.product {
    width: 100%;
    height: 100vw;
}
.position_on_photo {
    text-align: center;
    position: relative;
    bottom: 0;
    top: 30vw;
}
h5 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 6vw;
    letter-spacing: 0.5vw;
    margin: 0;
    color: white;
    font-stretch: condensed;
    margin-bottom: 70vw;
    margin-top: 0;
}
.read_more{
    font-size: 4vw;
    letter-spacing: 0.3vw;
    line-height: unset;
    height: auto;
    width: auto;
    padding: 2vw 9vw;
	margin-top: 3vw;
}
h3 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 4vw;
    letter-spacing: 0.4vw;
    margin: 0;
    margin-bottom: 15vw;
    margin-top: 15vw;
}
h4 {
    padding-top: 60vw;
    text-align: center;
    font-weight: 600;
    font-size: 4.5vw;
    margin: 0;
    color: #303030;
	line-height: 7vw;
}
.product p {
    font-size: 5vw;
    font-weight: 600;
    padding-top: 22vw;
}
.product_2, .product_3, .product_4, .product_5{display:none;}
.product{margin-bottom: 10vw;}
.swiping_buttons {
    display: block;
    position: relative;
    bottom: 90vw;
}
#Left{
	position: relative;
    left: 0px;
    cursor: pointer;
}
#Right{
	position: absolute;
    right: 0;
    cursor: pointer;
}
}