body{
	margin: 0;
    overflow-x: hidden;
	font-family: Lato, Helvetica, sans-serif;
}
h1{
	color: white;
	font-weight: 500;
	font-size: 3.5vw;
	letter-spacing: 0.4vw;
	font-stretch: condensed;
	margin: 0;
}
h2{
	color: white;
	font-weight: 500;
	font-size: 1.3vw;
	letter-spacing: 0.2vw;
	font-stretch: condensed;
	margin: 0;
	margin-top: 0.5vw;
}
h3{
	text-transform: uppercase;
	font-weight: 500;
	font-size: 2vw;
	letter-spacing: 0.4vw;
	margin: 0;
	margin-bottom: 4vw;
}
h4{
	padding-top: 15vw;
	text-align: center;
	font-weight: 600;
	font-size: 1vw;
	margin: 0;
	color: #303030;
}
h5{
	text-transform: uppercase;
    font-weight: 500;
    font-size: 1.7vw;
    letter-spacing: 0.4vw;
    margin: 0;
    color: white;
    font-stretch: condensed;
    margin-bottom: 3vw;
    margin-top: -3vw;
}
h6{
	text-transform: uppercase;
    font-weight: 600;
    color: #bd9456;
    font-size: 1.4vw;
    letter-spacing: 0.1vw;
    line-height: 0vw;
    font-stretch: condensed;
    margin: 0;
    margin-top: 1vw;
	margin-bottom: 1vw;
}
p{
	color: #303030;
	font-size: 1vw;
	font-weight: 500;
}
ul, li{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color:inherit;
	font-weight: 500;
	margin: 0;
}
#banner{
    height: 35vw;
}
.caption{
	z-index:2;
	text-align: center;
	top: 35%;
    position: relative;
}
.button_more button{
	background-color: #bd9456;
    color: rgba(255,255,255,1);
    font-size: 1.6vw;
    letter-spacing: 0.3vw;
    font-stretch: condensed;
    border: none;
    height: 4%;
    width: 10%;
    padding: 0.5vw 1vw;
    border-radius: 0.3vw;
    opacity: 0.9;
	margin-top: 6vw;
   }
button:focus{
	outline: none;
}
.wrap{
	width: 70%;
    flex-wrap: wrap;
    margin: auto;
	padding-top: 0.2vw;
}
.photo {
	width: 48%;
    padding-top: 30%;
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-grid;
    transition: all ease 0.3s;
    text-align: center;
}
.photo1{
	width: 96.3%;
    padding-top: 31%;
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-grid;
    transition: all ease 0.3s;
    text-align: center;
}
.photo_1{
	background-image:url(../img/photo_1.jpg);
}
.photo_2{
	background-image:url(../img/photo_2.jpg);
}
.photo_3{
	background-image:url(../img/1.jpg);
}
.photo_4{
	background-image:url(../img/2.jpg);
}
.photo_2:hover {
	background-color: #ffffff;
	opacity:0.5;
}
.read_more_1{
	background-color: transparent;
    color: #bd9456;
    font-size: 1.3vw;
    letter-spacing: 0.3vw;
    line-height: 0.3vw;
    font-stretch: condensed;
    border: 2px solid #bd9456;
    height: 4%;
    width: 40%;
    padding: 1.2vw 1vw;
    border-radius: 0.3vw;
    text-transform: uppercase;
    position: absolute;
    bottom: 2.5vw;
    left: 10vw;
}
.text_on_photo{
	position: absolute;
    bottom: 5vw;
    left: 4vw;
	right: 4vw;
}
.text_on_photo p{
	font-size: 1vw;
	color: #bd9456;
	letter-spacing: 0.1vw;
	font-stretch: condensed;
	text-align: center;
}
.read_more{
	background-color: transparent;
    color: rgba(255,255,255,1);
    font-size: 1.3vw;
    letter-spacing: 0.3vw;
    font-stretch: condensed;
    border: 2px solid white;
    width: 40%;
    padding: 0.5vw 1vw;
    border-radius: 0.3vw;
    text-transform: uppercase;
	cursor: pointer;
}
.position_on_photo {
    text-align: center;
    position: relative;
    bottom: 14vw;
}
#products{
	text-align: center;
	z-index: 1;
	margin-top: 5vw;
}
.wrap_product{
	width: 70%;
	height:auto;
    margin: auto;
    justify-content: space-around;
    flex-direction: row;
    display: flex;
    text-align: -webkit-center;
}
.product {
	width: 18%;
    background-size: 100%;
    background-repeat: no-repeat;
}
.product_1{
	background-image:url(../img/products/1_product.jpg);
}
.product_2{
	background-image:url(../img/products/2_product.jpg);
}
.product_3{
	background-image:url(../img/products/3_product.jpg);
}
.product_4{
	background-image:url(../img/products/4_product.jpg);
}
.product_5{
	background-image:url(../img/products/5_product.jpg);
}
/*from internet*/
#slider-wrapper {
  width: auto;
  height: 35vw;
  margin: 0;
  position: relative;
  margin-bottom: 0px;
  overflow: hidden;
}
#s1 {
  padding: 6px;
  background: #bd9456;
  position: absolute;
  left: 50%;
  bottom: 25px;
  margin-left: -36px;
  border-radius: 20px;
  opacity: 0.3;
  cursor: pointer;
  z-index: 999;
}
#s2 {
  padding: 6px;
  background: #bd9456;
  position: absolute;
  left: 50%;
  bottom: 25px;
  margin-left: -12px;
  border-radius: 20px;
  opacity: 0.3;
  cursor: pointer;
  z-index: 999;
}
#s3 {
  padding: 6px;
  background: #bd9456;
  position: absolute;
  left: 50%;
  bottom: 25px;
  margin-left: 12px;
  border-radius: 20px;
  opacity: 0.3;
  cursor: pointer;
  z-index: 999;
}
#s1:hover,
#s2:hover,
#s3:hover{
  opacity: .50;
}
.inner-wrapper {
  width: 100%;
  height: 35vw;
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: 0px;
  overflow: hidden;
}
.control {
  display: none;
}
#Slide1:checked ~ .overflow-wrapper {
  margin-left: 0%;
}
#Slide2:checked ~ .overflow-wrapper {
  margin-left: -100%;
}
#Slide3:checked ~ .overflow-wrapper {
  margin-left: -200%;
}
#Slide1:checked + #s1 {
  opacity: 1;
}
#Slide2:checked + #s2 {
  opacity: 1;
}
#Slide3:checked + #s3 {
  opacity: 1;
}
.overflow-wrapper {
  width: 400%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: hidden;
  z-index: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.slide img {
  width: 25%;
  float: left;
}
/*gallery*/
#container{
position: relative;
height: 150px;
width: 100%;
overflow: hidden;
-moz-transform: scale(2);
zoom: 2;
}
#container img{
position: absolute;
top: 0px;
height: 150px;
width: 230px;
cursor: pointer;
overflow: hidden;
}
.buttons-left-right{}
#carouselLeft{
position: relative;
left: 0px;
cursor: pointer;
}
#carouselRight{
position: absolute;
right:0;
cursor: pointer;
}

@media screen and (max-width: 1800px){
#container {
    zoom: 1.5;
    -moz-transform: scale(1.5);
}
}
@media screen and (max-width: 1650px){
#container {
    zoom: 1.2;
    -moz-transform: scale(1.5);
}
}
@media screen and (max-width: 1200px){
#container {
    zoom: 1;
    -moz-transform: scale(1);
}
}