.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
#banner{
    height: 35vw;
	background-image:  url("../img/background_5.jpg"); 
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}
.caption{
	z-index: 2;
    text-align: center;
    top: 37%;
    position: relative;
    border: 1px solid rgba(230, 230, 230, 0.3);
    margin-left: 29vw;
    margin-right: 29vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
}
.caption h1{
	color: white;
    font-size: 4.4vw;
    margin: 0;
    font-family: "OpenSans", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.8;
    letter-spacing: 0.8vw;
    text-align: center;
	text-shadow: 3px 1px 5px black;
}
.caption h1 img{
	padding: 1.2vw;
	width: 2%;
}
#main_info{
	height: auto;
	padding: 5vw;
	padding-bottom: 0vw;
}
.blocks{
	margin-bottom: 5vw;
	align-items: center;
	height: 28vw;
	-webkit-align-items: center;
}
.rectangle{
	background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 3px 56px 14px rgba(159, 159, 159, 0.34);
    width: 40vw;
    height: 22vw;
    z-index: 1;
    position: absolute;
    left: 16vw;
    margin-top: 3vw;
}
.image{
	position: absolute;
    left: 42vw;
	right: 0;
}
.image img{
	width: 83%;
}
.rectangle_2{
	background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 3px 56px 14px rgba(159, 159, 159, 0.34);
    width: 40vw;
    height: 22vw;
    z-index: 1;
    position: absolute;
    left: 44vw;
    margin-top: 3vw;
}
.image_2{
	position: absolute;
    right: 31vw;
    left: 11vw;
}
.image_2 img{
	width: 83%;
}
.text{
	padding: 3vw;
}
.rectangle h1{
	font-size: 2.3vw;
	font-family: "OpenSans", sans-serif;
	color: rgb(189, 148, 86);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 2.5vw;
	text-align: left;
	margin-top: 0;
	margin-bottom: 1vw;
}
.rectangle p{
	font-size: 0.9vw;
	font-family: "OpenSans", sans-serif;
	color: rgb(5, 5, 5);
	line-height: 1.646;
	text-align: justify;
	margin: 0;
}
.rectangle_2 h1{
	font-size: 2.3vw;
    font-family: "OpenSans", sans-serif;
    color: rgb(189, 148, 86);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2.5vw;
    text-align: right;
    margin-top: 0;
    margin-bottom: 1vw;
}
.rectangle_2 p{
	font-size: 0.9vw;
	font-family: "OpenSans", sans-serif;
	color: rgb(5, 5, 5);
	line-height: 1.646;
	text-align: justify;
	margin: 0;
}
.button, .button1{
	text-align: center;
	padding-bottom: 5vw;
}
.button button, .button1 button{
	background-color: #bd9456;
    color: rgba(255,255,255,1);
    font-size: 1.8vw;
    letter-spacing: 0.3vw;
    font-stretch: condensed;
    border: none;
    height: auto;
    width: 12%;
    padding: 0.5vw 1vw;
    border-radius: 0.3vw;
    opacity: 0.9;
	cursor: pointer;
}

@media screen and (max-width: 900px){
#banner {
    height: 140vw;
    background-image: url(../img/background_5_mobile.png);
    background-position: 70%;
}
.caption {
    top: 95vw;
    position: relative;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 5vw;
    padding-bottom: 5vw;
}
.caption h1 {
    font-size: 9vw;
    letter-spacing: 2vw;
    padding-bottom: 2vw;
}
.caption h2 {
    font-size: 3vw;
    letter-spacing: 2vw;
}
.caption img{display: none;}
.image, .image_2 {
    position: absolute;
    left: -64%;
    right: 0;
    width: 200%;
}
.image img, .image_2 img {
    width: 100%;
}
.main_info{
	position: relative;
}
.blocks {
    height: 170vw;
	position: relative;
}
.rectangle, .rectangle_2 {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 3px 56px 14px rgba(1, 1, 1, 0.2);
    width: auto;
    height: 80vw;
    z-index: 1;
    position: absolute;
    left: 10%;
    right: 10%;
    margin-top: 86vw;
}
.rectangle h1, .rectangle_2 h1 {
    font-size: 6vw;
    line-height: 7vw;
    text-align: center;
    margin-top: 3vw;
    margin-bottom: 3vw;
}
.rectangle p, .rectangle_2 p {
    font-size: 2.5vw;
    font-family: "OpenSans", sans-serif;
    color: rgb(5, 5, 5);
    line-height: 3.2vw;
    text-align: justify;
    margin: 0;
    padding: 6vw;
	padding-top:0;
    padding-bottom: 2vw;
}
.date{display:none;}
.text{margin-top: 5vw;}
.button button, .button1 button {
    font-size: 4vw;
    width: auto;
    padding: 2vw 9vw;

}
}