#banner {
    height: 35vw;
    background-image: url(../img/background_6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
#main_info {
    height: auto;
    padding-top: 5vw;
    padding-bottom: 5vw;
	text-align: center;
}
#main_info h1{
    font-size: 3vw;
    font-family: "OpenSans", sans-serif;
    color: rgb(189, 148, 86);
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 1vw;
    margin-left: 33%;
    margin-right: 33%;
}
#main_info p {
    font-size: 1.3vw;
    font-family: "OpenSans", sans-serif;
    color: rgb(5, 5, 5);
    line-height: 1.5;
    text-align: justify;
    margin: 0;
    margin-top: 2vw;
    margin-bottom: 2vw;
    margin-left: 19%;
    margin-right: 19%;
}
#main_info h3{
	font-size: 1.3vw;
    font-family: "OpenSans", sans-serif;
    color: rgba(5, 5, 5, 0.7);
    line-height: 1.5;
    margin: 0;
    margin-top: 2vw;
    margin-bottom: 2vw;
    margin-left: 19%;
    margin-right: 19%;
    text-align: center;
	font-weight: 500;
}
.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
	margin-top: 10vw;
}
.buttons button {
    background-color: white;
    color: rgb(189, 148, 86);
    letter-spacing: 0.2vw;
    font-stretch: condensed;
    border: 1px solid rgb(189, 148, 86);
    cursor: pointer;
    margin: 1vw;
    font-size: 1.2vw;
    padding: 0.7vw 3vw;
}
.buttons button:hover{
	background-color: rgb(189, 148, 86);
    color: white;
    border: 1px solid rgb(189, 148, 86);
}
@media screen and (max-width: 900px){
#banner {
    height: 90vw;
    background-image: url(../img/background_6_mobile.jpg);
    background-position: 70%;
}
}