#banner {
    height: 35vw;
    background-image: url(../img/background_6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
#main_info {
    height: auto;
    padding-top: 5vw;
    padding-bottom: 5vw;
	text-align: center;
}
#main_info h1{
    font-size: 3vw;
    font-family: "OpenSans", sans-serif;
    color: rgb(189, 148, 86);
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 1vw;
    margin-left: 33%;
    margin-right: 33%;
}
#main_info p {
    font-size: 1vw;
    font-family: "OpenSans", sans-serif;
    color: rgb(5, 5, 5);
    line-height: 1.5;
    text-align: justify;
    margin: 0;
    margin-top: 2vw;
    margin-bottom: 2vw;
    margin-left: 19%;
    margin-right: 19%;
}
#main_info h3{
	font-size: 1.3vw;
    font-family: "OpenSans", sans-serif;
    color: rgba(5, 5, 5, 0.7);
    line-height: 1.5;
    margin: 0;
    margin-top: 2vw;
    margin-bottom: 2vw;
    margin-left: 19%;
    margin-right: 19%;
    text-align: center;
	font-weight: 500;
}
.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
	margin-top: 10vw;
}
.buttons button {
    background-color: white;
    color: rgb(189, 148, 86);
    letter-spacing: 0.2vw;
    font-stretch: condensed;
    border: 1px solid rgb(189, 148, 86);
    cursor: pointer;
    margin: 1vw;
    font-size: 1.2vw;
    padding: 0.7vw 3vw;
}
.buttons button:hover{
	background-color: rgb(189, 148, 86);
    color: white;
    border: 1px solid rgb(189, 148, 86);
}
#first_button{display:none;}
@media screen and (max-width: 1200px){
#banner {
    height: 30vw;
}	
}
@media screen and (max-width: 900px){
#banner {
    height: 90vw;
    background-image: url(../img/background_6_mobile.jpg);
    background-position: 70%;
}
#main_info {
    height: auto;
    padding-top: 5vw;
    padding-bottom: 5vw;
    text-align: center;
}
.main_info{
	position: relative;
    margin-left: 10vw;
    margin-right: 10vw;
    background-color: white;
    padding-top: 5vw;
    padding-bottom: 5vw;
    top: -15vw;
    box-shadow: 0px 3px 43.24px 2.76px rgba(15, 15, 15, 0.3);
}
#main_info h1 {
    font-size: 5.5vw;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 9%;
    margin-right: 9%;
}
#main_info h3 {
    font-size: 3vw;
    margin: 0;
    margin-top: 5vw;
    margin-bottom: 5vw;
    margin-left: 10%;
    margin-right: 10%;
}
#main_info p {
    font-size: 3vw;
    margin: 0;
    margin-top: 5vw;
    margin-bottom: 5vw;
    margin-left: 10%;
    margin-right: 10%;
}
#first_button{
	display:block;
}
#first_button button{
	width: auto !important;
}
#second_button{display: none;}
.buttons button {
    background-color: white;
    color: rgb(189, 148, 86);
    letter-spacing: 0.2vw;
    font-stretch: condensed;
    border: 1px solid rgb(189, 148, 86);
    cursor: pointer;
    margin: 1vw;
    font-size: 3.2vw;
    padding: 2vw 6vw;
    width: 30vw;
}
.flex{
	position: relative;
    top: 20vw;
}

}