html{
	width: 100%;
	overflow-x: hidden;
}
body{
	max-width: 100%;
}
.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
#banner{
    height: 35vw;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	justify-content: center;
    align-items: center;	
    background-position-y: 50%;
	background-color: #1f0c06;
	z-index: 2;
	padding-bottom: 12vw;
}
#banner-top{
    position: absolute;
    top: 0;
    width: 100%;
}
#banner-top img{
	width: 100%;
}
.caption {
    z-index: 2;
    text-align: center;
    position: relative;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(../img/frame2.png);
    height: 9vw;
    width: auto;
    align-items: center;
	flex-direction: column;
	justify-content: center;
}

.caption h1{
	color: white;
    font-size: 2vw;
    margin: 0;
    font-family: "OpenSans", sans-serif;
    font-weight: bold;
    line-height: 0.8;
    letter-spacing: 0.1vw;
    text-align: center;
    text-shadow: 3px 1px 5px black;
    padding-left: 2.5vw;
    padding-right: 2vw;
}
.caption h2{
	color: white;
    font-size: 1vw;
    margin: 1vw;
    font-family: "OpenSans", sans-serif;
    font-weight: 400;
    line-height: 0.8;
    text-align: center;
	text-shadow: 3px 1px 5px black;
	letter-spacing: 0.1vw;
}
.caption h3{
	color: white;
    font-size: 1.2vw;
    margin: 1vw;
    font-family: "OpenSans", sans-serif;
    font-weight: 300;
    line-height: 0.8;
    text-align: center;
	opacity: 0.8;
	letter-spacing: 0.1vw;
}
#main_info{
	text-align: center;
	background-color: #1f0c06;
	padding-bottom: 10vw;
	height: 157vw;
	background-image:  url("../img/bc2.png"); 
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}
.line-orange{
	position:absolute;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	top: 23vw;
}
.line-orange img{
	width: 45vw;
}


#main_info h1{
	font-size: 1.5vw;
    font-family: "OpenSans", sans-serif;
    color: rgb(176, 145, 93);
    text-align: center;
    margin: 0;
    font-weight: 300;
    margin-top: 4vw;
    margin-bottom: 2vw;
}
#main_info h2{
	font-size: 1.2vw;
    font-family: "OpenSans", sans-serif;
    color: rgb(176, 145, 93);
    text-align: center;
    margin: 0;
    font-weight: 300;
    margin-bottom: 2vw;
    border: 1px solid;
    padding: 0.5vw;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}


.div{
	width: 14.5vw;
    height: 16vw;
    padding: 1vw;
    text-align: center;
    color: rgb(176, 145, 93);
    background-size: 30%;
    background-repeat: no-repeat;
    position: relative;
    background-position-x: 50%;
    background-position-y: 20%;
	position: absolute
}
#ph0{
	background-image: url(../img/ikonas/11.png);
	background-size: 50%;
	top: 16vw;
    left: 27vw;
	height: 9vw;
}
#ph1{
	background-image: url(../img/ikonas/12.png);
	top: 24vw;
    left: 43vw;
}
#ph2{background-image: url(../img/ikonas/2.png);}
#ph3{
	background-image: url(../img/ikonas/13.png);
	top: 30vw;
    left: 60vw;
	background-size: 40%;
}
#ph4{
	background-image: url(../img/ikonas/15.png);
	top: 55vw;
    right: 21vw;
}
#ph5{
	background-image: url(../img/ikonas/4.png);
	top: 44vw;
    right: 36vw;
}
#ph6{
	background-image: url(../img/ikonas/13.png);
    top: 58vw;
    right: 46vw;
	background-size: 40%;
}
#ph7{
	background-image: url(../img/ikonas/7.png);
	background-size: 40%;
	top: 75vw;
    left: 36vw;
	background-size: 50%;
}
#ph8{
	background-image: url(../img/ikonas/5.png);
	top: 68vw;
    right: 27vw;
}
#ph9{
	background-image: url(../img/ikonas/4.png);
	top: 92vw;
    right: 43vw;
}
#ph10{
	background-image: url(../img/ikonas/6.png);
	background-size: 60%;
	top: 105vw;
    left: 16vw;
}
#ph11{
	background-image: url(../img/ikonas/9.png);
	top: 108vw;
    left: 37vw;
}
#ph12{
	background-image: url(../img/ikonas/4.png);
	top: 135vw;
    right: 43vw;
}
#ph13{
	position: absolute;
	bottom: 12vw;
    left: 42vw;
}
#ph13 h5{
	margin: 0;
    color: rgb(176, 145, 93);
    font-size: 1.7vw;
    font-weight: 700;
}

.y2016y{
	position: absolute;
	top: 50vw;
    right: 18vw;
}
.y2017y{
	position: absolute;
    top: 87vw;
    left: 22vw;
}
.y2018y{
	position: absolute;
    top: 132vw;
    left: 42vw;
}

.div div{
	height: 8vw;
}
.div p{
	margin:0;
	font-size: 1vw;
}



/*NEW DESIGN*/
@media screen and (max-width: 1200px){
#banner {
    height: 30vw;
}	
}
@media screen and (max-width: 900px){
#banner {
    height: 140vw;
    background-image: url(../img/background_2_mobile.png);
    background-position: 70%;
}
.caption {
    top: 45vw;
    position: relative;
    padding-top: 7vw;
    padding-bottom: 6vw;
}
.caption h1 {
    font-size: 9vw;
    letter-spacing: 1vw;
    padding-bottom: 2vw;
	padding-left: 6vw;
    padding-right: 5vw;
}
.caption h2 {
    font-size: 3vw;
    letter-spacing: 2vw;
}
.caption img{display: none;}

}