body{
	margin: 0;
    overflow-x: hidden;
	font-family: Lato, Helvetica, sans-serif;
}
ul, li{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color:inherit;
	font-weight: 500;
	margin: 0;
}
button:focus{
	outline: none;
}