#banner{
    height: 46vw;
	background-image:  url("../img/background_3_new.jpg"); 
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}
.caption{
	z-index: 2;
    text-align: center;
    top: 40%;
    position: relative;
    margin-left: 27vw;
    margin-right: 27vw;
    padding-top: 2vw;
    padding-bottom: 1vw;
    border: 6px double rgba(189, 148, 86, 0.5);
    background-color: rgba(255,255,255,0.05);
}
.caption h1{
	color: rgb(189, 148, 86);
    font-size: 3.4vw;
    margin: 0;
    font-family: "OpenSans", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.8;
    letter-spacing: 0.8vw;
    text-align: center;
    padding-bottom: 2vw;
	text-shadow: 3px 1px 5px black;
}
.caption h1 img{
	padding: 1.2vw;
    width: 1.5%;
}
#main{
	background-color: #1f0c06;
}
.main{
	height: 40vw;
	position: relative;
}
.photo{
	position: absolute;
	width: 35vw;
    margin-top: 8vw;
    left: 12vw;
}
.photo_background{
	position: absolute;
	width: 55vw;
    right: 0;
}
.photo2{
	position: absolute;
	width: 35vw;
    margin-top: 8vw;
    right: 12vw;
}
.photo_background2{
	position: absolute;
	width: 55vw;
    left: 0;
}
.photo img, .photo_background img, .photo2 img, .photo_background2 img{
	width: 100%;
}
.text_about_fame{
	position: absolute;
	color: rgb(189, 148, 86);
	width: 20vw;
	margin-top: 13vw;
    right: 27vw;
}
.text_about_fame2{
	position: absolute;
	color: rgb(189, 148, 86);
	width: 20vw;
	margin-top: 13vw;
    left: 27vw;
}
.text_about_fame h1, .text_about_fame2 h1{
	font-size: 2.1vw;
	font-family: "OpenSans", sans-serif;
	text-align: left;
	font-weight: bold;
	margin: 0;
	letter-spacing: 0.1vw;
	width: 20vw;
    border-bottom: 0.5px solid rgba(189, 148, 86, 0.7);
    padding-bottom: 0.1vw;
}
.text_about_fame h2, .text_about_fame2 h2{
	font-size: 0.8vw;
	font-family: "OpenSans", sans-serif;
	text-align: left;
	font-weight: 300;
	margin: 0;
	text-transform: uppercase;
	opacity: 0.8;
	letter-spacing: 0.1vw;
	margin-bottom: 1vw;
    margin-top: 0.5vw;
}
.text_about_fame p, .text_about_fame2 p{
	font-size: 1vw;
	font-family: "OpenSans", sans-serif;
	text-align: justify;
	font-weight: 300;
	margin: 0;
	line-height: 1.2vw;
}
@media screen and (max-width: 900px){
#banner {
    height: 140vw;
    background-image: url(../img/background_3_new_mobile.jpg);
    background-position: 70%;
}
.main {
    height: 140vw;
    position: relative;
}
.photo, .photo2 {
    position: relative;
    width: 80%;
    top: 15vw;
    left: unset;
	right: unset;
	margin-top: unset;
    margin-left: 10%;
    margin-right: 10%;
}
.photo_background, .photo_background2 {
    position: relative;
    width: 100%;
    top: 12vw;
}
.caption {
    top: 95vw;
    position: relative;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 5vw;
    padding-bottom: 4vw;
}
.text_about_fame, .text_about_fame2 {
    position: absolute;
    color: rgb(189, 148, 86);
    width: 65vw;
    top: 65vw;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
.text_about_fame h1, .text_about_fame2 h1 {
    font-size: 6vw;
    font-family: "OpenSans", sans-serif;
    text-align: center;
    font-weight: bold;
    margin: 0;
    letter-spacing: 0.1vw;
    width: 65vw;
    border-bottom: 0.5px solid rgba(189, 148, 86, 0.7);
    padding-bottom: 0.1vw;
}
.text_about_fame h2, .text_about_fame2 h2 {
    font-size: 2vw;
    font-family: "OpenSans", sans-serif;
    text-align: center;
    font-weight: 300;
    margin: 0;
    text-transform: uppercase;
    opacity: 0.8;
    letter-spacing: 0.1vw;
    margin-bottom: 3vw;
    margin-top: 3vw;
}
.text_about_fame p, .text_about_fame2 p {
    font-size: 2.5vw;
    font-family: "OpenSans", sans-serif;
    text-align: justify;
    font-weight: 300;
    margin: 0;
    line-height: 3.5vw;
    opacity: 0.8;
}
.caption h1 {
    font-size: 8vw;
    letter-spacing: 1vw;
    padding-bottom: 2vw;
}
.caption img{display: none;}
}