#banner{
    height: 35vw;
	background-image:  url("../img/background_3.jpg"); 
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}
.caption{
	z-index: 2;
    text-align: center;
    top: 31%;
    position: relative;
    border: 1px solid rgba(230, 230, 230, 0.3);
    margin-left: 21vw;
    margin-right: 21vw;
    padding-top: 4vw;
    padding-bottom: 3vw;
}
.caption h1{
	color: white;
    font-size: 4.4vw;
    margin: 0;
    font-family: "OpenSans", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.8;
    letter-spacing: 0.8vw;
    text-align: center;
    padding-bottom: 2vw;
	text-shadow: 3px 1px 5px black;
}
.caption h1 img{
	padding: 1.2vw;
    width: 1.5%;
}
#main{
	height: auto;
	padding: 2vw 5vw 2vw 5vw;
}
.wrap{
	width: 100%;
    flex-wrap: wrap;
    margin: 0;
    display: flex;
    justify-content: center;
}
.photo {
	width: 22%;
    height: 17vw;
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-grid;
    transition: all ease 0.3s;
    text-align: center;
    margin: 1vw;
}
.photo_1{background-image:url(../img/fame/1.png);}
.photo_2{background-image:url(../img/fame/2.png);}
.photo_3{background-image:url(../img/fame/3.png);}
.photo_4{background-image:url(../img/fame/4.png);}
.photo_5{background-image:url(../img/fame/5.png);}
.photo_6{background-image:url(../img/fame/6.png);}
.photo_7{background-image:url(../img/fame/4.png);}
.photo_8{background-image:url(../img/fame/4.png);}
.photo_9{background-image:url(../img/fame/1.png);}
.photo_10{background-image:url(../img/fame/2.png);}
.photo_11{background-image:url(../img/fame/3.png);}
.photo_12{background-image:url(../img/fame/4.png);}
.photo_13{background-image:url(../img/fame/5.png);}
.photo_14{background-image:url(../img/fame/6.png);}
.photo_15{background-image:url(../img/fame/4.png);}
.photo_16{background-image:url(../img/fame/4.png);}
.text{
	margin-top: 15vw;
}
.text h1{
	font-size: 1.3vw;
    font-family: "OpenSans", sans-serif;
    color: rgb(189, 148, 86);
    font-weight: bold;
    text-align: center;
    margin: 0;
}
.button_more{
	text-align: center;
	padding-bottom: 5vw;
}
.button_more button{
	background-color: #bd9456;
    color: rgba(255,255,255,1);
    font-size: 1.8vw;
    letter-spacing: 0.3vw;
    font-stretch: condensed;
    border: none;
    height: auto;
    width: 12%;
    padding: 0.5vw 1vw;
    border-radius: 0.3vw;
    opacity: 0.9;
	cursor: pointer;
}
@media screen and (max-width: 900px){
#banner {
    height: 140vw;
    background-image: url(../img/background_3_mobile.jpg);
    background-position: 70%;
}
.caption {
    top: 95vw;
    position: relative;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 5vw;
    padding-bottom: 5vw;
}
.caption h1 {
    font-size: 8vw;
    letter-spacing: 1vw;
    padding-bottom: 2vw;
}
.caption img{display: none;}
.photo {
    width: 100%;
    height: 75vw;
}
.text {
    margin-top: 64vw;
}
.text h1 {
    font-size: 5vw;
    padding-bottom: 0vw;
}
.button_more button{
	letter-spacing: 0.5vw;
    margin: 7vw;
    font-size: 4.5vw;
    padding: 2vw 4vw;
    margin-top: 0;
    width: auto;
}
#main {
    padding: 5vw;
}
}